{% extends 'base.html.twig' %}

{% block body %}
<h1 style="color:crimson;">Bienvenue sur mon page web</h1>

<p>La page d’accueil est l’une des pages les plus importantes de votre site web. C’est sur elle que la plupart des visiteurs
de votre site se font leur première impression et leur ressenti sur votre entreprise et votre offre. C’est la vitrine de
votre activité. Une page d’accueil mal conçue, pas assez claire, pas assez lisible, peu attractive, qui met pas suffisamment
en avant votre proposition de valeur vous fera à coup sûr perdre de nombreux clients potentiels. Pour réussir le design de
la page d’accueil de votre site web, nous avons sélectionné pour vous 12 exemples de qualité. Mais avant, rappelons rapidement
les règles de base en matière de design / ergonomie à appliquer sur votre page d’accueil.</p>

<h2 style="color:blue;">Créer une page d'accueil efficace!</h2>
<p>Imaginez que <b>votre page d'accueil soit la couverture d'un magazine</b> : elle doit donner envie à l'internaute de rester sur
votre site et surtout lui donner une vision globale et claire des informations qu'il va pouvoir trouver sur vos pages. Voici
ici 6 bonnes pratiques pour réaliser une page d'accueil efficace</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex porro quasi deleniti libero, numquam laboriosam repudiandae sunt aliquam, ipsum facere aliquid, in temporibus qui at velit. Doloremque quia, consequuntur cum maxime eum, beatae minus qui doloribus vitae temporibus ut dicta.</p>
<p>Expedita sint officia aliquid obcaecati dolorem, mollitia eos officiis deserunt voluptas minima inventore quam modi reprehenderit quidem. Repellat molestias quisquam, eius saepe nisi quasi in doloribus esse eos cumque culpa, voluptas eaque est iste asperiores dolore laudantium. Earum, enim rerum.</p>

{% endblock %}